Repository Prison-Station-14/prison-station-14, pull requests merged in 2024-07, with the labels that each got.

#5 escapists 2 lobby music
  Resources/Audio/Lobby/SP14/attributions.yml
  Resources/Audio/Lobby/SP14/lockdown.ogg
  Resources/Audio/Lobby/SP14/main_menu.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: Map, No C#

#13 role depts and some role reqs changed for PS14
  Resources/Prototypes/Roles/Jobs/SP14/Guards/chief-custodial-officer.yml
  Resources/Prototypes/Roles/Jobs/SP14/Guards/inspector.yml
  Resources/Prototypes/Roles/Jobs/SP14/Guards/prison_officer.yml
  Resources/Prototypes/Roles/Jobs/SP14/Guards/rookie_officer.yml
  Resources/Prototypes/Roles/Jobs/SP14/Guards/sp-warden.yml
  Resources/Prototypes/Roles/Jobs/SP14/Infirmary/chemist.yml
  Resources/Prototypes/Roles/Jobs/SP14/Infirmary/infirmary_doctor.yml
  Resources/Prototypes/Roles/Jobs/SP14/Infirmary/medical_director.yml
  Resources/Prototypes/Roles/Jobs/SP14/Inmate/prison_chef.yml
  Resources/Prototypes/Roles/Jobs/SP14/Maintenance/maintenance_worker.yml
  Resources/Prototypes/Roles/Jobs/SP14/SPCargo/sp_quartermaster.yml
  Resources/Prototypes/Roles/Jobs/SP14/SPCommand/welfare_officer.yml
Labels: No C#, Status: Needs Review

#3 Mapping setup
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Locale/en-US/prototypes/access/sp14_accesses.ftl
  Resources/Maps/SP14/outpost.yml
  Resources/Maps/SP14/stanford.yml
  Resources/Prototypes/Entities/Markers/Spawners/SP14/sp14 jobs.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/SP14/stanford.yml
Labels: Changes: Map, No C#, Status: Needs Review

#17 Update README.md
  README.md
Labels: No C#
